In [1]:
import pandas as pd

In [3]:
branches = { '01' : ['Urmia',24,2,5,500,160000,'B',8],
             '02' : ['Isfahan',36,8,56,830,180000,'A',12],
             '03' : ['Ahvaz',29,2,4,500,170000,'B',8],
             '04' : ['Tabriz',32,4,18,700,190000,'A',11],
             '05' : ['Tehran',135,22,62,2600,1260000,'A+',39],
             '06' : ['Rasht',27,7,35,440,145000,'B',7],
             '07' : ['Shiraz',43,8,18,1050,350000,'A+',16],
             '08' : ['Qom',29,6,59,480,105000,'B',7],
             '09' : ['Karaj',42,8,36,590,200000,'A',9],
             '10' : ['Kerman',33,6,34,540,160000,'B',8],
             '11' : ['Kermanshah',29,5,16,580,166000,'B',9],
             '12' : ['Mazandaran',29,1,42,680,172000,'B',10],
             '13' : ['Mashhad',48,4,18,1150,330000,'A+',16] }
columns = ['Branch','#Personnel','LOP','E_Rate','#Customer','$','Grade','#Seller'] 
df = pd.DataFrame.from_dict(branches, orient='index',columns=columns)
print(df)

        Branch  #Personnel  LOP  E_Rate  #Customer        $ Grade  #Seller
01       Urmia          24    2       5        500   160000     B        8
02     Isfahan          36    8      56        830   180000     A       12
03       Ahvaz          29    2       4        500   170000     B        8
04      Tabriz          32    4      18        700   190000     A       11
05      Tehran         135   22      62       2600  1260000    A+       39
06       Rasht          27    7      35        440   145000     B        7
07      Shiraz          43    8      18       1050   350000    A+       16
08         Qom          29    6      59        480   105000     B        7
09       Karaj          42    8      36        590   200000     A        9
10      Kerman          33    6      34        540   160000     B        8
11  Kermanshah          29    5      16        580   166000     B        9
12  Mazandaran          29    1      42        680   172000     B       10
13     Mashhad          48    4      18       1150   330000    A+       16